.App {
  text-align: center;
  background-color: #1c1c1c;
  color: white;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.card {
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  min-width: 300px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-image {
  width: 100%;
  /* height: 200px; */
  aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 0;
  font-size: 1.5em;
}

.card-content h4 {
  margin: 10px 0 0;
  font-size: 1em;
  color: #ccc;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 70px;
}